/* About.css */

.line {
  display:inline-flex;
  width: 0;
  height: 2px;
  background-color: rgb(19, 167, 197);
  animation: grow 2s infinite linear;

}
.header_about_us{
  background-image: url("../Images/pattern-bg-rose.jpg");
  height: 350px;
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  color: #fff;
  padding: 125px;
  position: relative;
  z-index: 5;
}
@keyframes grow {
  from {
    width: 10;
  }
  to {
    width: 30%;
  }
}
p{
  font-size: 20px;
  padding: 90px;
  text-align: justify;
  margin-bottom:10px;
}
.image-container {
  align-items: center;
  display: flex;
}

.image-container img {
  width: 160px;
  height: 162.35px;
  margin-left: 400px;
}

.image-content {
  align-items: right;
  padding: 20px;
}
.image-container h6{
  color:gray;
}

.border-box {
  margin-left: 50px;
}
.timeline-container {
  display: flex;
  justify-content: center;
}

.timeline {
  display: flex;
  position: relative;
}
.pipe {
  padding: 10px;
  position: absolute;
  top: calc(10%);
  left: 20px;
  right: 20px;
  height: 2px;
  background-color: rgb(194, 110, 200);
  animation: growPipe 4s infinite linear;
}
@keyframes growPipe{
  from{
    width:0;
  }
  to{
    width:93%;
  }
}
.arrow {
  position: absolute;
  top: calc(50% - 5px);
  width: 0;
  height: 0;
}

.arrow.left {
  left: -5px;
}

.arrow.right {
  right: -5px;
}

.arrow.left::before,
.arrow.right::before {
    content: "";
    display: block;
    width:10px;
    height:10px;
    border-top: solid rgb(19,167,197) ;
    border-right:solid rgb(19,167,197) ;
}

.arrow.left::before{
   transform: rotate(-135deg);
   margin-left:-5px;
}

.arrow.right::before{
   transform: rotate(45deg);
   margin-left:-15px;
}

.year {
  margin: 0 30px;
  cursor: pointer;
  position: relative;
}

.circle{
  width:10px;
  height:10px;
  border-radius:50%;
  background-color:white;
  border:solid rgb(19,167,197);
  position:absolute;
  top:-15px;
  left:calc(50% -5px);
}

.year:hover {
  color: rgb(19, 167, 197);
}
.year.selected {
  color: rgb(37, 36, 34);
  font-weight: bold;
}

.text-content {
  flex: 1;
  padding: 20px;
}
.text-content p {
  text-align: left;
}
.team img {
  width: 500px; /* Adjust the width as needed */
  height: auto;
  margin-right: 20px; /* Add some spacing between the image and the content */
  margin-bottom: 10px;
}

.section-box{
  background-color: yellowgreen;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  
  
}
.section-box img{
  margin-top: 50px;
}
.content-container{
  display: flex;
  flex-direction: column;
}
.text-content a{
  font-size: 23px;
  color: red;
}
.ourteam h3{
  color: grey;
}
.teammembers {
  display: flex;
  flex-direction: column;  
  margin-right: 30px;
}

.member {
  flex-basis: calc(33.33% - 20px);
  padding: 30px;
  text-align: center;
}
.member img{
  width:200px;
  display: center;
}




.row {
  display: flex;
  justify-content: space-between;
}



#team_image {

  width: 100px; /* Adjust the width as needed */
}

h4,
h5 {
  margin: 5px 0;
}

.social_icon {
  display: flex;
  justify-content: center;
}

.social_icon ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width:30px;
  margin-top: 10px;
}

.social_icon ul li {
  margin: 0 5px;
}

.social_icon ul li a img {
  width: 20px; /* Adjust the width as needed */
}

/**/
.borderbox {
  padding: 20px;
  height: 446px;
  padding-top: 100px;
}

.support {

  flex-wrap: wrap;

}

.column {
  flex-basis: 33%;
  padding: 10px;
  text-align: center;
}


h3 {
  margin-top: 0; 
}

p {
  margin-top: 5px; 
}
/**/
.vision-box .line2 {
  width: 50px;
  height: 2px;
  background-color: rgb(93, 168, 182);
  margin-bottom: 20px;
  animation: grow1 2s linear infinite;
}

@keyframes grow1 {
  from {
    width:0;
  }
  to {
    width:10%;
  }
}


.vision-box{
  padding-top: 50px;
  background-color: #ff9700;
  text-align: center;
}
.vision-box img{
  margin-bottom: 80px;
  
}
.vision{
  position: relative;
}
.vision img{
  width: 100%;
  mix-blend-mode: multiply;
}
.center{
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}