.card {
   width: 400px;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
  }
  
  .card-image {
    flex: 1 0 auto;
  }
  .card p{
    font-size: 1.3rem;
    background: #fff;
    text-align: justify;
    padding: 0.5rem 0 2rem 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .card img {
    
    object-fit: cover;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
  }
  
  .card img:hover {
    transform: scale(1);
  }
  