.Footer{
    padding: 4rem 6rem;
    background: black;
    color: white;
}
.top{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.top i{
    color: white;
    font-size: 2rem;
    margin-left: 1rem;
}
.top i:hover{
    color: aquamarine;
}
.bottom{
    padding-top: 2rem;
    text-align: start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bottom div{
    display: flex;
    flex-direction: column;
}
.bottom h4{
    font-size: 1.3rem;
    padding: 1rem 0 0.8rem 0;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding-bottom: 0.4rem;

}
.sb_footer-below{
    display: flex;
    justify-content: space-between;
}
.sb_footer-below-links{
    display: flex;
    flex-direction: row;
}
.sb_footer-below-links p{
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: #fff;
    font-weight: 600;
}
hr{
    color: #fff !important;
    width: 100%;
}
.sb_footer-copyright{
    font-size: 13px;
    line-height: 15px;
    color: rgb(255,255,255);
    font-weight: 600;
}
@media screen and (max-width:769px) {
    .Footer{
        padding: 4rem 2rem;
    }
    .Footer i{
        margin: 1rem 1rem 0 0;
    }
    .bottom div{
        width: 50%;
       
    }
    .sb_footer-below{
        flex-direction: column;
        justify-content: left;
    }
    .sb_footer-below-links{
        flex-direction: column;
    }
    .sb_footer-below-links p{
        margin-left: 0rem;
        margin-top: 1rem;
    }
}