.footer{
    padding: 4rem 6rem;
    background: #151414;
    color: white;
z-index: 99;
height: 416px;
position: relative;
}
/* Footer.css */

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_1{
    margin: 100px auto;
    width: 75%;
}
.contact_2{
    margin: 100px auto;
    width: 75%;
}
.contact_3{
    margin: 100px auto;
    width: 75%;
}
#img_contact_1{
    width: 100px;
    float: left;
    height: 100px;
}
#img_contact_2{
    width:100px;
    float: left;
    height: 100px;
}
#img_contact_3{
    max-width: 100px;
    float: left;
    height: 100px;
}
.text a{
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
}
.text {
    margin-top:20px;
    align-items: center;
    font-size: 16px;
    color: #736F6F;
    text-align: left;
}
.foo{
    background-color: #121111;
    height: 144px;
    position: relative;
}
#up_arrow{
    background-color: #736F6F;
    width: 50px;
    float: right;   
    margin-right: 50px;
}
.a{
    text-decoration: none;
    color: #656464;
}
.a:hover{
    color: aqua;
}
#f_down{
    padding-top: 55px;
}
#ff_l{
    float: left;
    margin-left: 50px;
}
.social_media_icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#151414;
    
}
.icon_foo{
    width: 10px;
}
