* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsletter {
  background-color: #3CB878;
  display: flex;
  z-index: 89;
  position: relative;
}

img {
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
}

.mail {
  width: 600px;
  height: 290px;
  padding-left: 185px;
  left: 0;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mail_input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 45px 0 0 45px;
  width: 300px;
  margin-bottom: 10px;
  margin-left: -625px;
  height: 50px;
}

.email_label {
  text-align: left;
}

.sub_button {
  display: inline-block;
  background-color: #2f2c2c;
  padding-top: 13.5px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 100px;
  border-radius: 0 50px 50px 0;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  color: #fff;
  width: 30%;
  height: 50px;
  margin-top: 5px;
  text-align: center;
}

.mail_2 {
  width: 138px;
  height: 133px;
  position: relative;
  bottom: -200px;
  z-index: 1;
  margin-left: 30px;
}

.gear.rotate {
  -webkit-animation: rotate 1s;
  animation: rotate 1s;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
    transform: rotate(360deg) translateZ(0);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
    transform: rotate(360deg) translateZ(0);
  }
}

/* Media Queries for Mobile Devices */
@media (max-width: 720px) {
  .mail {
    width: auto;
    height: auto;
    padding: 0;
  }

  .mail_2 {
    display: none;
  }

  .field {
    align-items: center;
    padding: 0 20px;
  }

  .mail_input,
  .sub_button {
    width: 100%;
    border-radius: 50px;
    margin-top: 15px;
  }
    .sub_button {
      padding-left: 20px;
      padding-right: 20px;
  }
}
@media (max-width: 570px){
.field {
    width: 100%;
}
.email_label {
  font-size: 30px;
  color: #fff;
  margin-bottom: 23px;
}
.subscribe-form {
  margin-bottom: 25px;
}
.mail_input {
  background-color: #fff;
  padding: 16px 40px;
  font-size: 16px;
  color: #797676;
  border-color: transparent;
  border-radius: 50px 0 0 50px;
  width: 70%;
  float: left;
}
.sub_button {
    padding: 19px 6px 22px;
    font-size: 13px;
}
.sub_title{
  
    color: rgba(255, 255, 255, 0.5);
    float: left;

}
}